<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <header>
      <%= link_to 'Home', root_path %>
      <%= link_to 'All Users', users_path %>
      <%= link_to 'People You Follow', following_path %>
      <%= link_to 'Feed', feed_path %>
      
      <% if @current_user %>
        <%= link_to 'Sign Out', sign_in_path, method: :delete %>

        Hi <%= @current_user.username %>. You have <%= @current_user.tweets.count %> tweets.
      <% else %>
        <%= link_to 'Sign In', sign_in_path %>

      <% end %>
    </header>
    <body>

<%= debug params %>
    <% if notice %>
      <p>
        <%= notice %>
      </p>
    <% end %>

  <%= yield %>

  </body>
  </html>
